<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/css/view_all_product.css}">
</head>
<body>
    <div th:replace="~{base :: Layout(~{::section})}">
        <section>
            <div class="container">
                <div class="cards-container">
                    <div class="card view-product-card">
                        <h2>User</h2>
                        <th:block th:if="${session.SuccMsg}" class="succMsg">
                            <p >[[${session.SuccMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.ErrorMsg}" class="errMsg">
                            <p >[[${session.ErrorMsg}]]</p>
                        </th:block>

                        <div class="card product-details-card">
                            <h2>Product Details</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>S1 No</th>
                                        <th>Profile</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mo No</th>
                                        <th>Adress</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="u,c:${users}">
                                        <th scope="row">[[${c.count}]]</th>
                                        <td><img th:src="@{'/img/profile_img/' + ${u.profileImage}}+ '?v=' + ${#dates.format(date, 'yyyyMMddHHmmss')}"
                                            alt="Product Image" class="product-image"></td>
                                        <td>[[${u.name}]]</td>
                                        <td>[[${u.email}]]</td>
                                        <td>[[${u.mobileNumber}]]</td>
                                        <td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
                                        <td>[[${u.isEnable}]]</td>
                                        
                                        <td class="actions">
                                            <a th:href="@{'/admin/updateStatus?status=true&id=' + ${u.id}}"><button class="btn btn-edit">Enable</button></a>
                                            <a th:href="@{'/admin/updateStatus?status=false&id=' + ${u.id}}"><button class="btn btn-delete">Disable</button></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
