<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		
		<link rel="stylesheet" th:href="@{/css/home.css}"> <!-- Linking style.css -->
	
		<title> Fashion Hub </title>

	<body>
		<div th:replace="~{base :: Layout(~{::section})}">
			<section>
			
            <center>    <div class="card">
                <h1>[[${session.msg}]]</h1>
            </div>
        </center>
            </section>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
