<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Forgot Password</title>
</head> 
<body>
    <div th:replace="~{base :: Layout(~{::section})}">
        <section class="login-section">
           
            <div class="login-container">
                <h2>Forgot Password</h2>
                <p>
                <th:block th:if="${session.SuccMsg}" class="msg">
                    <p class="succMsg">
                      [[${session.SuccMsg}]]  
                    </p>
                <th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </p>
                 <form action="/forgot-password" method="post">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Send </button>
                </form>
        </div>
        </section>
    </div>
</body>
</html>
