<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head> 
<body>
    <div th:replace="~{base :: Layout(~{::section})}">
        <section class="login-section">
            <div class="login-container">
                <h2>Reset Password</h2>
                <th:block th:if="${session.SuccMsg}" class="msg">
                        <p class="succMsg">
                          [[${session.succMsg}]]  
                        </p>
                    <th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>

                 <form action="/reset-password" method="post">
                    <label for="email">New Password</label>
                    <input type="password" id="email" name="password" placeholder="Enter your Password" required>

                    <label for="password">Confirm Password</label>
                    <input type="password" id="password"  placeholder="Confirm Password" required>

                    <input type="hidden" th:value="${token}" name="token">
                    <button type="submit">Reset Password</button>
                </form>
              </div>
        </section>
    </div>
</body>
</html>
